.list {
  width: 300px;
}

.list,
.listClosed {
  height: 100vh;
  z-index: 1;
  position: relative;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  align-items: center;
  transition: all 0.5s;
}

.listClosed {
  /* left: -270px; */
  margin-left: -270px;
}

.list__removebar,
.list__loadMore {
  color: orange;
}
.list__removebar {
  position: sticky;
  bottom: 0;
  background-color: black;
  padding: 16px 0 16px;
  width: 100%;
}
.list__removebar:hover {
  cursor: pointer;
}

.list__loadMore {
  padding: 16px;
}
.list__loadMore:hover {
  cursor: pointer;
}
