.list,
.listClosed {
  height: 100vh;
  z-index: 1;
  position: relative;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  align-items: center;
  transition: all 0.5s;
  width: 300px;
  padding-bottom: 45px;
}

.listClosed {
  margin-left: -270px;
}

.list__removebar,
.list__loadMore {
  color: orange;
}
.list__remove_button {
  position: fixed;
  bottom: 0;
  background-color: black;
  padding: 8px;
  width: 300px;
  color: orange;
  border: none;
}
.list__remove_button:hover {
  cursor: pointer;
}

.list__loadMore {
  position: sticky;
  color: orange;
  background-color: black;
  border: none;
  width: 300px;
}
.list__loadMore:hover {
  cursor: pointer;
}

.list__loadMore:disabled {
  display: none;
}
