.list {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: black;
  color: white;
  align-items: center;
  height: 100%;
}

.list__removebar,
.list__loadMore {
  color: orange;
}
.list__removebar {
  position: sticky;
  bottom: 0;
  background-color: black;
  padding: 16px 0 16px;
  width: 100%;
}

.list__loadMore {
  padding: 16px;
}
