.detail {
  display: flex;
  flex-direction: column;
  padding: 32px;
  position: absolute;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .detail {
    max-width: 500px;
  }
}

.author {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
}

.image {
  display: flex;
  object-fit: cover;
  width: 80px;
  height: 100px;
  margin: 0 auto;
}
