.detail {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 32px 16px;
}

@media only screen and (min-width: 600px) {
  .detail {
    max-width: 500px;
    position: relative;
    margin: 0 auto;
  }
}

.author {
  display: flex;
}

.title {
  display: flex;
  word-wrap: break-word;
}

.image {
  display: flex;
  object-fit: cover;
  width: 80px;
  height: 100px;
  margin: 0 auto;
}
