.item {
  border-bottom: 1px solid grey;
  padding: 16px;
}

.item__top {
  display: flex;
  padding-bottom: 16px;
}

.item__top__author {
  padding-right: 8px;
}

.item__body {
  display: flex;
}
.item__body__img {
  padding: 0 8px 8px 0;
}

.item__bottom {
  display: flex;
}
.item__bottom > div {
  padding-right: 8px;
}
