.item {
  padding-bottom: 16px;
  text-align: left;
  width: 300px;
  position: relative;
}
.item:not(:first-of-type) {
  padding-top: 16px;
}

.gg_chevron_right {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}

.gg_chevron_right::after {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  right: 6px;
  top: 4px;
}

.item::after {
  content: '';
  width: 270px;
  height: 1px;
  background-color: grey;
  left: 12px;
  position: relative;
  display: flex;
  top: 20px;
}

.item__top {
  display: flex;
  padding-bottom: 16px;
}

.item__top__author {
  padding: 0 8px 0 8px;
}

.item__top__date {
  padding-right: 8px;
}

.item__body {
  display: flex;
  padding: 0 8px 0 8px;
}
.item__body__img {
  padding: 0 8px 8px 0;
  object-fit: cover;
  width: 80px;
  height: 100px;
}

.item__bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 8px 0 8px;
}
.item__bottom > div {
  padding-right: 8px;
}

.item__read {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: flex;
  background-color: deepskyblue;
  position: absolute;
}

.item__bottom_comments {
  color: orange;
}
.item__body__title {
  max-width: 190px;
}

.gg_close_o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 40px;
}
.gg_close_o::after,
.gg_close_o::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 3px;
}
.gg_close_o::after {
  transform: rotate(-45deg);
}
.item__bottom_dissmiss_ctn {
  display: flex;
}
